.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(34, 193, 195, 1);
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
    height: 70px;

}


.navigation {
    margin-top: 0px !important;
    color: white;
    font-weight: 500;
}

.Header a {
    color: #FFFFFF;
    text-decoration: none;
}